{% extends 'base.html' %}
    
{% block content %}
<h1 style="text-align:center">Test</h1>
<div class="sidenav">
    <h5 style="font-size:16px;text-decoration:underline">Quick links</h5>
    <ul>
        <li><a href="https://maxroll.gg" target="_blank" style="color:black">Maxroll</a></li>
        <br>
        <li><a href="https://lostark.meta-game.gg/ability-stone-calculator" target="_blank" style="color:black">Ability stone calculator</a></li>
        <br>
        <li><a href="https://loa-todo.com/engrave" target="_blank" style="color:black">Engraving Builder</a></li>
    </ul>
</div>
{% endblock %}