* {
    font-family: Arial, Helvetica, sans-serif;
}

#home-title{
    color:black;
    text-align: Center;
}

#main-menu {
    text-align: center;
}

div.topnav{
    text-align: center;
    overflow: hidden;
    background-color:black;
    padding: 30px;
}

.topnav a{
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    font-size: 30px;
    font-weight: bold;
    text-align: center
}

.topnav a:hover{
    background-color: rgb(28, 65, 85);
    color: rgb(255, 255, 255);
}

.topnav a.active {
    background-color: #ffffff;
    color: white;
}

.sidenav {
    height: 300px;
    width: 160px;
    position: fixed;
    z-index: 1;
    overflow-x: disabled;
    padding-top: 10px;
    background-color:rgb(206, 233, 255);
}

.inputs {
    text-align: center
}


 
